body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: arial 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

.avatar {
    width: 175px;
    border-radius: 6px;

    
}

.card {
    width: 400px;
    margin: 0px auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    text-shadow: 1px 1px #D95D39;
    background: #D95D39;
    color: #ECE8D5;
    border-bottom: 0px solid #594F3B;
    border-radius: 6px;
    
    
    
    
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
